*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-moderate-violet: hsl(263, 55%, 52%);
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-translucid: hsla(0, 0%, 100%, 50%);
  --color-light-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  background-color: var(--color-light-grayish-blue);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
}

img {
  display: block;
  max-width: 100%;
}

.testimonials {
  margin: 3em 1em;
}

.testimonial {
  background-color: skyblue;
  padding: 2em;
  margin-top: 1em;
  border-radius: .5em;
}

.testimonial h1 {
  margin: 0;
  font-size: 1em;
}

.testimonial__author {
  display: flex;
  align-items: center;
}

.testimonial__author img {
  margin-right: 1em;
  width: 2.5em;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--color-white-translucid);
}

.testimonial__author span {
  opacity: 50%;
}

.testimonial__quote {
  opacity: 70%;
}

.testimonial--daniel {
  background-color: var(--color-moderate-violet);
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 80%;
  color: var(--color-white);
}

.testimonial--patrick img {
  border-color: var(--color-moderate-violet)
}

.testimonial--jonathan {
  background-color: var(--color-very-dark-grayish-blue);
  color: var(--color-white);
}

.testimonial--jeanette {
  background-color: var(--color-white);
  color: var(--color-very-dark-grayish-blue);
}

.testimonial--patrick {
  background-color: var(--color-very-dark-blackish-blue);
  color: var(--color-white);
}

.testimonial--kira {
  background-color: var(--color-white);
  color: var(--color-very-dark-grayish-blue);
}

@media (min-width: 800px) {
  .testimonials {
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "daniel   daniel  jonathan kira"
      "jeanette patrick patrick  kira"
  }

  .testimonial--daniel {
    grid-area: daniel;
  }

  .testimonial--jonathan {
    grid-area: jonathan;
  }

  .testimonial--jeanette {
    grid-area: jeanette;
  }

  .testimonial--patrick {
    grid-area: patrick;
  }

  .testimonial--kira {
    grid-area: kira;
  }
}
